@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background-color: white;
  width: 70% !important;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif !important;
}

.header-section {


  display: block;
  z-index: 1;
  position: fixed;
  top: 50px;


  .brand {
    color: #231F20;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .1em;

  }

  .sections {
    .nav-item{
      margin-right: 10px;
      .nav-link {
        font-size: 14px;
      }
    }
  }

}


.home-section {
  display:block !important;
  padding-top: 70px;

  margin-top: 50px;
  background-color: #f39c12;
  height: 60vh;
  .image {
    text-align: right;
    img  {
      width: 45%;
    }
  }

  .anchor {
    background-color: green;
    .anchor-link {

      span {
        position: absolute;
        top: 87%;

        //margin-left: -30px;
        margin-left: 43px;
        color: #231F20;
      }

      .line {
        content: "";
        margin-left: 60px;
        position: absolute;
        top: 93%;
        height: 7%;
        background: #231F20;
        width: 1px;
        -webkit-transition: all 1s cubic-bezier(.23,1,.32,1);
        transition: all 1s cubic-bezier(.23,1,.32,1);
      }
    }
  }
}

.about-section {
  display: block !important;
  margin-top:50vh;
  background-color: white;
  padding-left: 17px;
  .row {
    margin-top: 20px;
    .title {
      text-align: left;
      //background-color: red;
      span {
        font-weight: bolder;
        font-size: 14px;
      }
    }
    .description {
      //background-color: blue;
      span {
        font-weight: lighter;
        font-size: 14px;
      }
    }
  }
}

.projects-section {
  margin-top: 300px;

  background-color: white;

  .item {
    display: block !important;
    //height: 440px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
    .content {
      margin: auto;
      width: 70%;
      background-color: white !important;
      text-align: left;
      padding: 30px;
      .title {
        font-size: 14px;
        font-weight: bolder;
      }

      .description {
        margin-top: 20px;
        font-size: 14px;
      }

      .links {
        margin-top: 30px;
        a {
          padding-right: 10px;
          font-size: 14px;
          color: #231F20 !important;
        }
      }

    }
    img {
      //margin-top: 80px;
      //margin-bottom: 80px;
      width: 70%;
    }
    figure {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 70%;
      img {
        width: 100%;
      }

      figcaption {
        background-color: white;
        color: black;
        text-align: left;
        .title {
          font-size: 14;
          font-weight: bolder;
        }

        .description {
          margin-top: 20px;
          font-size: 14px;
        }
        .link {
          margin-top: 50px;
        }
      }
    }
  }
  .first {
    margin-top: 200px;
  }

}


.footer {

  padding-top: 50vh;
  margin-bottom: 10vh;
  .container {
    a {
      color: rgba(0,0,0,.5);
      font-size: 14px;
    }
  }

  .second {
    margin-top:50px;
    .left {
      font-size: 14px;
    }

    .right {
      color: rgba(0,0,0,.5);
      font-size: 14px;
    }
  }

}


.active {
box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black
}
