
html {

}
/* global */
body {
    min-height: 100vh;
    font-family: 'GT America Extended', Helvetica, sans-serif;
    
}
ol, ul {
    margin-top:16px;
    margin-bottom: 60px;
    font-size: 16px;

    padding-left:0;
}

ol li, ul li {
    margin-left: 16px;
}

.responsive-container {
    width: 80%;
    margin: 0 auto;
}

.link-text {
    font-size: 14px;
    text-transform: uppercase;
    
}

.link-text.active {
    text-decoration: underline;
}

.link-text:hover {
    color: black;
    text-decoration: underline;
}

.project-link:hover {
    color: black;
    background-image: linear-gradient(to right, yellow, rgba(255,255,255,0));
    background-blend-mode: screen;
    margin: -10px;
    padding: 10px;
    text-decoration: underline;
}

.gif {
    width: 80%;
    height: 600px;
    background-color: black;
    text-align: center;
    margin: auto auto;
    display: block;
}

.gif img {
    position: relative;
    vertical-align: center;
    margin: auto 0;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
}


/* Home page*/

.home-div {
    margin-top: -80px;
}

.home-div .responsive-container .home-text {
    width: 60%;
    font-size: 2.7vw;
    color: black;
    font-family: 'FreightDisp Pro', Georgia, serif;
    line-height: 1.15;
    font-weight: normal;
}

.projects-div {
    margin: 80px 0 80px 0;
}

.projects-div .responsive-container .project {
    display: block;
    margin-bottom: 35px;
}

.projects-div .responsive-container .project .project-content {
}

.projects-div .responsive-container .project .project-content .project-link {
    display: flex;
    flex-direction: row;
    z-index: 1;
    font-size: 1.1vw;
}

.projects-div .responsive-container .project .project-content .project-link .index {
    flex-basis: 10%;
}

.projects-div .responsive-container .project .project-content .project-link .company {
    flex-basis: 23%;
}

.projects-div .responsive-container .project .project-content .project-link .title {
    flex-basis: 30%;
}
.projects-div .responsive-container .project .project-content .project-link .role {
    flex-basis: 37%;
}

.projects-div .responsive-container .project .project-content img {
    height: 70vh;
    position: absolute;
    z-index: -999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
}

.projects-div .responsive-container .project .project-content .project-link:hover + img {
    visibility: visible;
    transition: 1.0s;
    -webkit-transition: 1.0s;
    -moz-transition: 1.0s;
    -ms-transition: 1.0s;
    -o-transition: 1.0s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.moving-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: red;
    height: 100px;
}

.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
   }
   .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
   }


/* Case Study */

.hero-div {
    text-align: center;
    padding-top: 100px;
    display: block;
    margin-bottom: 120px;
}

.hero-div .case-study {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.hero-div .title {
    font-size: 4.5vw;
    font-family: 'FreightDisp Pro', Georgia, serif;
    font-weight: 700;
    
    line-height: 1;
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
}

.hero-div .title br {
    display: none;
}

.hero-div img {
    width: 50vh;
    display: block;
    margin: 0 auto;
   

}
.hero-div .info {
    font-size: 16px;
    max-width: 778px;
    margin: 0 auto 48px auto;
}


.project-breaker {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 100px 0 100px 0;
}


.project-section-container {
    width: 556px;
    margin-left: auto;
    margin-right: auto;
}

.psc-top {
    margin-top: 48px;
}

.psc-bottom {
    margin-bottom: 48px;
}

.img-bottom {
    margin-bottom: 20px;
}

.read-more {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    position: absolute;
    bottom: 14px;

    right: 20%;
    text-align: center;
    margin: 0 auto;

    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%; 



}

.read-more:hover {
    border-radius: 0;
    text-decoration: underline;
    color: black;
}

.inside {
}

.project-section-container .section-title {
    font-family: 'FreightDisp Pro', Georgia, serif;
    font-size:40px;
    font-weight: 700;

    line-height: 1;
    margin-bottom: 40px;
    
}

.project-section-container .section-subtitle {
    margin-bottom: 12px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
}

.project-section-container .section-body {
    line-height: 1.5;
    font-size: 16px;
}

/* About */
.about-div {
    padding-top: 50px;
    margin-bottom: 120px;
}
.about-div .responsive-container {
    display: flex;
    flex-flow: column;
    font-size: 16px;

}

.about-div .responsive-container .bio {
    max-width: 556px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.about-div .responsive-container .groups {

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.about-div .responsive-container, #belowabout .responsive-container {
    max-width: 556px;

}

#musicabout .responsive-container .groups, #belowabout .responsive-container .groups {
    flex-flow: column;
}

.about-div .responsive-container .groups .group, #belowabout .responsive-container .groups .group {
    margin-top: 48px;
}


.about-div .responsive-container .group {
}

.about-div .responsive-container .group .title {
    margin-bottom: 12px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
}



.about-div .link-text {
    display: block;
    
}






.challenges-div, .solutions-div, .outcome-div {
    margin-top: 60px;
}

/* Challenges */
.project-responsive-container {
    width: 80%;
    margin: 0 auto;
}
.project-responsive-container img {
    width: 100%;
}


/* Me */
.me-div {
    padding-top: 180px;
}
.me-div .responsive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.me-div .responsive-container .bio {
    flex-basis: 60%;
    font-size: 1.2vw;
    font-weight: 400;

}
.me-div .responsive-container .bio b {
    font-weight: 700;
    font-style: italic;
    letter-spacing: -1px;

    
}
.me-div .responsive-container .bio a {
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
}

.me-div .responsive-container .skills  {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.me-div .responsive-container .skills .group  {
   margin-bottom: 48px;
}

.me-div .responsive-container .skills .group .title {
    font-family: 'GT America Extended', Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: .9vw;
    line-height: 1;
    margin-bottom: 12px;
}

.me-div .responsive-container .skills .group .name {
    font-size: 1.2vw;
}

.cry {
    margin: 120px auto;
    text-align: center;
}

.prototype, .inside {    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.plink {
    position: relative;
    text-transform: uppercase;
    display: block;
    margin: 48px auto;
    text-align: center;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 100%;
}

.plink:hover {
    border-radius: 0;
    color: black;
    text-decoration: underline;
}

.resume-div {
    position: relative;
    padding: 48px 100px;
    border: 1px solid black;
    border-radius: 100%;
    text-transform: uppercase;
}

.resume-div:hover {
    color: black;
    border-radius: 0;
    text-decoration: underline;
}

.about-img {
    text-align: center;
}

.about-img img {
    width: 245px;
}
.graphics1 {
    width: 100%;
    margin: 200px 0;
}
.graphics1 .responsive-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.graphics1 .responsive-container div:nth-of-type(1), .graphics1 .responsive-container div:nth-of-type(2) {
    flex-basis: 40%;
}
.graphics1 .responsive-container div:nth-of-type(2) {
    margin-top: 100px;
}

.graphics1 .responsive-container div:nth-of-type(3) {
    flex-basis: 100%;
    margin-top: 100px;
}

.graphics1 .responsive-container div:nth-of-type(4) {
    flex-basis: 30%;
    margin-top: 100px;
    margin-right: 60%;
}

.graphics1 .responsive-container div:nth-of-type(5) {
    flex-basis: 30%;
    margin-top: 100px;
}
.graphics1 .responsive-container div:nth-of-type(6) {
    flex-basis: 40%;
    margin-top: 160px;
}

.graphics1 .responsive-container div img, .graphics2 .responsive-container div img {
    width: 100%;
}

.outcome-div {
    margin-bottom: 100px;
}


/* Music application */

.image-group {

    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.image-group div {
    flex-basis:33%;
    height: auto;
}


.image-group div img {
    width: 100%;
}

.music-app .project-section-container, .below .project-section-container {
    margin-left: auto;
    margin-right: auto;
}

.note {
   font-size:14px;
    color: rgba(0,0,0,.4);
    font-style: italic;
}



/* Navigation Bars */
.home-nav {
    margin-top: 80px;
}
.home-nav .responsive-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;

}

.home-nav .responsive-container .home-text {
    flex-basis: 57%;
    font-size: 2vw;
    color: black;
    font-family: 'FreightDisp Pro', Georgia, serif;
    line-height: 1.15;
    font-weight: normal;
}
.home-nav .responsive-container a {
    display: inline;
    width: auto;

}

.project-nav .responsive-container a {
    display: inline-block;
    margin: 34px 0;
    font-size: 14px;
    width: auto;
}

.project-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.project-nav .responsive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.project-nav .responsive-container a {
    margin: 34px 0px;
}

.project-nav .responsive-container .logo {
    font-family: 'FreightDisp Pro', Georgia, serif;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
}



.bottom-nav {
    
    width: 100%;
    padding: 14px 0 14px 0;
    position: fixed;
    bottom: 0;
}

.bottom-nav-relative {
    position: relative !important;
}

.bottom-nav .responsive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-nav .responsive-container .left-container {
    display: block;
}

.bottom-nav .responsive-container .right-container .email {
    display: none;
}




@media(max-width: 980px){

    /* Universal */
    .responsive-container {
        width: 82%;
        margin: 0 auto;
    }

    /* Home */
    .home-nav .responsive-container .home-text {
        font-size: 2.5vw;
        
    }
    .projects-div .responsive-container .project .project-content .project-link {
        font-size: 1.7vw;
    }
    .project-section-container {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Project */
    .project-section-container .section-title {
        font-size: 30px;
    }

    .about-div .responsive-container .bio {
        max-width: 100%;
    }

    .about-div .responsive-container .groups {
        flex-direction: column;
        margin-top: 0;
    }

    .about-div .responsive-container .groups .group {
        margin-top: 48px;
    }




    /* Me page */
    .me-div .responsive-container {
        flex-direction: column;
        
    }
    .me-div {
        padding-top: 80px;
    }
    .me-div .responsive-container {
        width: 82%;
    }
    .me-div .responsive-container .bio {
        font-size: 16px;
        flex-basis: 100%;
    }

    .me-div .responsive-container .skills .group .title {
        font-size: 12px;
        
    }
    .me-div .responsive-container .skills .group .name {
        font-size: 16px;
    }

    .me-div .responsive-container .skills {
        flex-direction: row;
        justify-content: start;
        margin-top: 48px;
    }

    .me-div .responsive-container .skills .group {
        margin-bottom: 0;
        margin-right: 48px;
    }
    
}

@media(max-width: 767px) {

    /* Universal */
    .responsive-container {
        
    }

    .gif {
        width: 82%;
    }



    .link-text {
        font-size: 14px;
    }

    /* Home */
    .home-nav {
        margin-top: 34px;
        z-index: 888;
        position: relative;
    }

    .hero-div img {
        width: 70%;
        
    }

    .home-nav .responsive-container {
        flex-flow: column-reverse;

    }
    .home-nav .responsive-container .home-text {
        font-size: 24px;
        margin-top: 34px;
    }
    .home-nav .responsive-container a {
        float: right;
        text-align: right;
    }

    .scroll-left {
        position: absolute;
        bottom: auto;

    }

    .scroll-left p {
        -moz-animation: scroll-left 10s linear infinite;
        -webkit-animation: scroll-left 10s linear infinite;
        animation: scroll-left 10s linear infinite;
        width: 100%;
        text-align: left;
        font-size: 12px;
    }

    .projects-div .responsive-container .project .project-content {
        
    }

    .projects-div .responsive-container .project .project-content img {
        width: 60vw;
        height: auto;
    }
    
    .projects-div .responsive-container .project .project-content .project-link {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .projects-div .responsive-container .project .project-content .project-link .index {
        flex-basis: 100%;
        font-size: 10px;
    }
    
    .projects-div .responsive-container .project .project-content .project-link .title {
        flex-basis: auto;
        font-size: 16px;
    }

    .projects-div .responsive-container .project .project-content .project-link .company {
        flex-basis: auto;
        padding-top: 6px;
        margin-left: 4px;
    }

    .projects-div .responsive-container .project .project-content .project-link .role {
        flex-basis: 100%;
        font-size: 14px;
    }
    

        /* Project */
        .project-responsive-container {
            width: 82%;
        }

        .about-div .link-text {
            margin-top: 10px;
        }
        .hero-div .title br {
            display: block;
        }
        .hero-div {
            text-align: left;
            width: 82%;
            margin: 0 auto 90px auto;
            min-height: 100vh;
            padding-top: 12px;
        }

        .hero-div .case-study {
            font-size: 14px;
            line-height: 1;
            margin-bottom: 0px;
        }

        .hero-div .title {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.15;
            margin-bottom: 4px;
        }

        .hero-div .info {
            width: 82%;
            float: left;
            font-size: 16px;
            line-height: 1.625;
            margin-bottom: 60px;
        }

        .read-more {
            font-size: 14px;
            display: block;
            text-transform: uppercase;
            position: absolute;
            bottom: 14px;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
            
           
        }

        .read-more:hover {
            color: black;
            text-decoration: underline;
        }

            /*
        .challenges-div, .solutions-div, .outcome-div {
            margin-top: 48px;
        }*/

        .project-section-container .section-title {
            font-size:32px;
            
            margin-bottom: 40px;

        }
        .project-section-container .section-body {
            font-size: 16px;
            line-height: 1.625;
        }

        .about-div .responsive-container {
            font-size: 16px;
            
        }
    
        .about-div .responsive-container .bio {
            max-width: 100%;
            margin-bottom: 0;
            text-align: left;
        }
    
        .about-div .responsive-container .groups {
            flex-direction: column;
            margin-top: 0;
        }
    
        .about-div .responsive-container .groups .group {
            margin-top: 48px;
        }

        .about-div .responsive-container .groups .group .title {
            
            font-size: 12px;
            margin-bottom: 8px;
            text-transform: capitalize;
        }

        .psc-top {
            margin-top: 32px;
        }
        
        .psc-bottom {
            margin-bottom: 32px;
        }



    /* Me */

    .me-div .responsive-container .skills {
        flex-direction: column;
        margin-top: 0;
    }

    .me-div .responsive-container .skills .group {
        margin-top: 48px; 
    }

    .graphics1 .responsive-container div:nth-of-type(1), .graphics1 .responsive-container div:nth-of-type(2) {
        flex-basis: 60%;
    }
    .graphics1 .responsive-container div:nth-of-type(2) {
        margin-top: 50px;
        flex-basis: 90%;
    }
    
    .graphics1 .responsive-container div:nth-of-type(3) {
        flex-basis: 100%;
        margin-top: 40px;
    }
    
    .graphics1 .responsive-container div:nth-of-type(4) {
        flex-basis: 30%;
        margin-top: 70px;
        margin-right: 60%;
    }
    
    .graphics1 .responsive-container div:nth-of-type(5) {
        flex-basis: 30%;
        margin-top: 100px;
    }
    .graphics1 .responsive-container div:nth-of-type(6) {
        flex-basis: 40%;
        margin-top: 160px;
    }

    /* Music app */

    .image-group {
        flex-flow: column;
        width: 82%;
    }

    


    /* Nav Bars */
    .project-nav {
        position: relative;
    }
    .bottom-nav .responsive-container {
        flex-direction: column;
    }

    .bottom-nav {
        position: relative;
        background-color: white;
    }

    .bottom-nav .responsive-container .left-container {
        display: none;
    }

    .bottom-nav .responsive-container .right-container {
        margin: 20px auto;
    }
    .bottom-nav .responsive-container .right-container .email {
        display: inline-block;
    }





}