html {
}
/* global */
body {
  min-height: 100vh;
  font-family: "GT America Extended", Helvetica, sans-serif;
  color: #191919;
}

#mouse-ball {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

ol,
ul {
  margin-top: 16px;
  margin-bottom: 60px;
  font-size: 14px;

  padding-left: 0;
}

ol li,
ul li {
  margin-left: 16px;
}

.responsive-container {
  width: 80%;
  margin: 0 auto;
}

.link-text {
  font-size: 14px;
  text-transform: uppercase;
}

.link-text.active {
  text-decoration: underline;
}

.link-text:hover {
  color: black;
  text-decoration: underline;
}

.project-link:hover {
  background-blend-mode: screen;

  text-decoration: underline;
}

.gif {
  width: 80%;
  height: 600px;
  background-color: black;
  text-align: center;
  margin: auto auto;
  display: block;
}

.gif img {
  position: relative;
  vertical-align: center;
  margin: auto 0;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
}

/* Home page*/

.home-div {
  margin-top: -80px;
}

.home-div .responsive-container .home-text {
  width: 60%;
  font-size: 2.7vw;
  color: black;
  font-family: "FreightDisp Pro", Georgia, serif;
  line-height: 1.15;
  font-weight: normal;
}

.projects-div {
  margin: 4vh 0 80px 0;
}

.projects-div .responsive-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.projects-div .responsive-container .project {
  margin-bottom: 35px;
  flex-basis: auto;
  margin-right: 7%;
}

.projects-div .responsive-container .project .project-content {
}

.projects-div .responsive-container .project .project-content .project-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  font-weight: 200;
}

.projects-div
  .responsive-container
  .project
  .project-content
  .project-link
  .index {
  flex-basis: 10%;
  font-size: 0.6vw;
}

.projects-div
  .responsive-container
  .project
  .project-content
  .project-link
  .company {
  flex-basis: 30%;
  font-size: 1.9vw;
  text-transform: capitalize;
}

.projects-div
  .responsive-container
  .project
  .project-content
  .project-link
  .title {
  flex-basis: 30%;
  font-size: 1.9vw;
  line-height: 1.15;
  font-family: "FreightDisp Pro", Georgia, serif;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
}
.projects-div
  .responsive-container
  .project
  .project-content
  .project-link
  .role {
  flex-basis: 30%;
  font-size: 0.9vw;
  text-transform: capitalize;
}

.projects-div .responsive-container .project .project-content img {
  height: 60vh;
  position: fixed;
  z-index: -999;
  top: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
}

.projects-div
  .responsive-container
  .project:nth-of-type(1)
  .project-content
  img {
  left: 5%;
  top: 5%;
  bottom: auto;
}

.projects-div
  .responsive-container
  .project:nth-of-type(2)
  .project-content
  img {
  left: 15%;
}
.projects-div
  .responsive-container
  .project:nth-of-type(3)
  .project-content
  img {
  left: 35%;
  top: 0%;
  bottom: auto;
}

.projects-div
  .responsive-container
  .project:nth-of-type(5)
  .project-content
  img {
  right: 5%;
  top: 10%;
  bottom: auto;
}

.projects-div
  .responsive-container
  .project
  .project-content
  .project-link:hover
  + img {
  visibility: visible;
}

.moving-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100px;
}

.scroll-left {
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
}
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

/* Case Study */

.hero-div {
  text-align: center;
  padding-top: 120px;
  display: block;
  margin-bottom: 120px;
}

.hero-div .case-study {
  font-size: 11px;
  text-transform: uppercase;
}

.hero-div .title {
  font-size: 5vw;
  font-family: "FreightDisp Pro", Georgia, serif;
  font-weight: 200;
  font-style: italic;
  line-height: 1;
  z-index: 2;
  position: relative;
  margin-bottom: 8px;
}

.hero-div .title br {
  display: none;
}

.hero-div img {
  width: 50vh;
  display: block;
  margin: 0 auto;
}
.hero-div .info {
  font-size: 22px;
  font-family: "FreightDisp Pro", Georgia, serif;
  font-weight: 200;
  max-width: 558px;
  line-height: 1;
  margin: 0 auto 48px auto;
}

.project-breaker {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 100px 0 100px 0;
}

.project-section-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.psc-top {
  margin-top: 40px;
}

.psc-bottom {
  margin-bottom: 40px;
}

.img-bottom {
  margin-bottom: 20px;
}

.read-more {
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  position: absolute;
  bottom: 14px;

  right: 20%;
  text-align: center;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100%;
}

.read-more:hover {
  border-radius: 0;
  text-decoration: underline;
  color: black;
}

.inside {
}

.project-section-container .section-title {
  font-family: "FreightDisp Pro", Georgia, serif;
  font-size: 40px;
  font-weight: 200;

  line-height: 1;
  margin-bottom: 8px;
}

.project-section-container .section-subtitle {
  margin-bottom: 12px;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 1;
}

.project-section-container .section-body {
  line-height: 1.5;
  font-size: 14px;
  max-width: 556px;
}

.project-section-container .section-number {
  font-size: 12px;
}

/* About */
.about-div {
  padding-top: 120px;
  margin-bottom: 120px;
}
.about-div .responsive-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 14px;
}

.about-div .responsive-container .bio {
  max-width: 556px;
  text-align: left;
}

.about-div .responsive-container .groups {
  display: flex;
  flex-flow: column;
}

.about-div .responsive-container,
#belowabout .responsive-container {
  width: 80%;
}

#musicabout .responsive-container .groups,
#belowabout .responsive-container .groups {
  flex-flow: column;
}

.about-div .responsive-container .groups .group,
#belowabout .responsive-container .groups .group {
  margin-top: 48px;
}

.about-div .responsive-container .group {
}

.about-div .responsive-container .group .title {
  margin-bottom: 12px;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 1;
}

.about-div .link-text {
  display: block;
  text-transform: capitalize;
}

.challenges-div,
.solutions-div,
.outcome-div {
  margin-top: 80px;
}

/* Challenges */
.project-responsive-container {
  width: 80%;
  margin: 0 auto;
}
.project-responsive-container img {
  width: 100%;
}

/* Me */
.me-div {
  padding-top: 180px;
}
.me-div .responsive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.me-div .responsive-container .bio {
  flex-basis: 60%;
  font-size: 14px;
  font-weight: 400;
}
.me-div .responsive-container .bio b {
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1px;
}
.me-div .responsive-container .bio a {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.me-div .responsive-container .skills {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.me-div .responsive-container .skills .group {
  margin-bottom: 48px;
}

.me-div .responsive-container .skills .group .title {
  font-family: "GT America Extended", Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 12px;
}

.me-div .responsive-container .skills .group .name {
  font-size: 14px;
}
.me-div .responsive-container .skills .group .link-text {
  text-transform: capitalize;
}

.cry {
  margin: 120px auto;
  text-align: center;
}

.prototype,
.inside {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.plink {
  position: relative;
  text-transform: uppercase;
  display: block;
  margin: 48px auto;
  text-align: center;
  width: 100%;
  height: 150px;
  border: 1px solid black;
  border-radius: 100%;
}

.plink:hover {
  border-radius: 0;
  color: black;
  text-decoration: underline;
}

.resume-div {
  position: relative;
  font-size: 14px;
  padding: 48px 100px;
  border: 1px solid black;
  border-radius: 100%;
  text-transform: uppercase;
}

.resume-div:hover {
  color: black;
  border-radius: 0;
  text-decoration: underline;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 245px;
}
.graphics1 {
  width: 100%;
  margin: 200px 0;
}
.graphics1 .responsive-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.graphics1 .responsive-container div:nth-of-type(3),
.graphics1 .responsive-container div:nth-of-type(2) {
  flex-basis: 40%;
}
.graphics1 .responsive-container div:nth-of-type(2) {
  margin-top: 100px;
}
.graphics1 .responsive-container div:nth-of-type(1) {
  margin-bottom: 100px;
}
.graphics1 .responsive-container div:nth-of-type(4),
.graphics1 .responsive-container div:nth-of-type(1) {
  flex-basis: 100%;
  margin-top: 100px;
}

.graphics1 .responsive-container div:nth-of-type(5) {
  flex-basis: 30%;
  margin-top: 100px;
  margin-right: 60%;
}

.graphics1 .responsive-container div:nth-of-type(6) {
  flex-basis: 30%;
  margin-top: 100px;
}
.graphics1 .responsive-container div:nth-of-type(7) {
  flex-basis: 40%;
  margin-top: 160px;
}

.graphics1 .responsive-container div img,
.graphics2 .responsive-container div img {
  width: 100%;
}

.outcome-div {
  margin-bottom: 100px;
}

/* Music application */

.image-group {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.image-group div {
  flex-basis: 33%;
  height: auto;
}

.image-group div img {
  width: 100%;
}

.music-app .project-section-container,
.below .project-section-container {
  margin-left: auto;
  margin-right: auto;
}

.note {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

/* Navigation Bars */
.home-nav {
  padding-top: 14vw;
  margin-bottom: 10vw;
}
.home-nav .responsive-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.home-nav .responsive-container .home-text {
  flex-basis: 100%;
  font-size: 4.2vw;
  color: black;
  font-family: "FreightDisp Pro", Georgia, serif;
  line-height: 1.15;
  font-weight: 200;
}

.home-nav .responsive-container .home-text img {
  position: absolute;
  z-index: -200;
  visibility: hidden;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  margin: auto auto;
  height: 70vh;
}

.home-nav .responsive-container .home-text span {
  border-bottom: 1px solid black;
  font-style: italic;
}

.home-nav .responsive-container .home-text span:hover + img {
  visibility: visible;
}

.home-nav .responsive-container a {
  display: inline;
  width: auto;
}

.project-nav .responsive-container a {
  display: inline-block;
  margin: 34px 0;
  font-size: 14px;
  width: auto;
}

.project-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.project-nav .responsive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-nav.home .responsive-container {
  width: 90%;
}

.project-nav .responsive-container a {
  margin: 34px 0px;
}

.project-nav .responsive-container .logo {
  font-family: "FreightDisp Pro", Georgia, serif;
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
}

.bottom-nav {
  width: 100%;
  padding: 14px 0 14px 0;
  position: relative;
  bottom: 0;
}

.bottom-nav-relative {
  position: relative !important;
}

.bottom-nav .responsive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-nav.home {
  position: fixed;
  bottom: 0;

  left: 0;
  right: 0;
}

.bottom-nav.home .responsive-container {
  width: 90%;
}

.bottom-nav .responsive-container .left-container {
  display: block;
}

.bottom-nav .responsive-container .right-container .email {
  display: none;
}

@media (max-width: 980px) {
  /* Universal */
  .responsive-container {
    width: 82%;
    margin: 0 auto;
  }

  /* Home */
  .home-nav .responsive-container .home-text {
    font-size: 4.5vw;
  }
  .home-nav .responsive-container .home-text img {
    height: auto;
    width: 50vw;
  }
  .projects-div .responsive-container .project .project-content .project-link {
    font-size: 1.7vw;
  }
  .project-section-container {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-div .responsive-container .project {
    flex-basis: 33%;
    margin-right: 0;
  }

  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .index {
    flex-basis: 10%;
    font-size: 1.5vw;
  }

  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .title {
    flex-basis: 30%;
    font-size: 2.9vw;
    line-height: 1.15;
    font-family: "FreightDisp Pro", Georgia, serif;
    font-weight: 200;
    text-transform: capitalize;
    font-style: italic;
  }
  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .role {
    flex-basis: 33%;
    font-size: 1.5vw;
    text-transform: capitalize;
  }

  /* Project */
  .project-section-container .section-title {
    font-size: 30px;
  }

  .about-div .responsive-container .bio {
    max-width: 100%;
  }

  .about-div .responsive-container .groups {
    flex-direction: column;
    margin-top: 0;
  }

  .about-div .responsive-container .groups .group {
    margin-top: 48px;
  }

  .about-div .responsive-container .groups .group .link-text {
    text-transform: capitalize;
  }

  .about-div .responsive-container,
  #belowabout .responsive-container {
    width: 82%;
  }

  /* Me page */
  .me-div .responsive-container {
    flex-direction: column;
  }
  .me-div {
    padding-top: 80px;
  }
  .me-div .responsive-container {
    width: 82%;
  }
  .me-div .responsive-container .bio {
    font-size: 14px;
    flex-basis: 100%;
  }

  .me-div .responsive-container .skills .group .title {
    font-size: 12px;
  }
  .me-div .responsive-container .skills .group .name {
    font-size: 14px;
  }

  .me-div .responsive-container .skills {
    flex-direction: row;
    justify-content: start;
    margin-top: 48px;
  }

  .me-div .responsive-container .skills .group {
    margin-bottom: 0;
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  /* Universal */
  .responsive-container {
  }

  .gif {
    width: 82%;
  }

  .link-text {
    font-size: 14px;
  }

  /* Home */
  .home-nav {
    margin-top: 34px;
    padding-top: 0;
    z-index: 888;
    position: relative;
  }

  .hero-div img {
    width: 70%;
  }

  .home-nav .responsive-container {
    flex-flow: column-reverse;
  }
  .home-nav .responsive-container .home-text {
    font-size: 34px;
    margin-top: 34px;
  }
  .home-nav .responsive-container a {
    float: right;
    text-align: right;
  }

  .scroll-left {
    position: absolute;
    bottom: auto;
  }

  .scroll-left p {
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
    width: 100%;
    text-align: left;
    font-size: 12px;
  }

  .projects-div .responsive-container .project .project-content {
  }

  .projects-div .responsive-container {
    flex-direction: column;
  }

  .projects-div .responsive-container .project .project-content img {
    width: 60vw;
    height: auto;
  }

  .projects-div
    .responsive-container
    .project:nth-of-type(1)
    .project-content
    img {
    top: 5%;
    bottom: auto;
  }
  .projects-div
    .responsive-container
    .project:nth-of-type(2)
    .project-content
    img {
    top: 20%;
    bottom: auto;
  }
  .projects-div
    .responsive-container
    .project:nth-of-type(3)
    .project-content
    img {
    top: 0;
    bottom: 0;
  }
  .projects-div
    .responsive-container
    .project:nth-of-type(4)
    .project-content
    img {
    top: auto;
    bottom: 20%;
  }
  .projects-div
    .responsive-container
    .project:nth-of-type(5)
    .project-content
    img {
    top: auto;
    bottom: 5%;
  }

  .projects-div .responsive-container .project .project-content .project-link {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .index {
    flex-basis: 100%;
    font-size: 10px;
  }

  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .title {
    flex-basis: auto;
    font-size: 24px;
  }

  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .company {
    flex-basis: auto;
    padding-top: 2px;
    margin-left: 4px;
    font-size: 14px;
  }

  .projects-div
    .responsive-container
    .project
    .project-content
    .project-link
    .role {
    flex-basis: 100%;
    font-size: 12px;
  }

  /* Project */
  .project-responsive-container {
    width: 82%;
  }

  .about-div .link-text {
    margin-top: 10px;
  }
  .hero-div .title br {
    display: block;
  }
  .hero-div {
    text-align: left;
    width: 82%;
    margin: 0 auto 90px auto;
    min-height: 100vh;
    padding-top: 12px;
  }

  .hero-div .case-study {
    font-size: 9px;
    line-height: 1;
    margin-bottom: 0px;
  }

  .hero-div .title {
    font-size: 50px;

    line-height: 1;
    margin-bottom: 4px;
  }

  .hero-div .info {
    width: 82%;
    float: left;
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.125;
    margin-bottom: 60px;
  }

  .read-more {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }

  .read-more:hover {
    color: black;
    text-decoration: underline;
  }

  /*
        .challenges-div, .solutions-div, .outcome-div {
            margin-top: 48px;
        }*/

  .project-section-container .section-title {
    font-size: 32px;
  }
  .project-section-container .section-body {
    font-size: 14px;
    line-height: 1.625;
  }

  .about-div .responsive-container {
    font-size: 14px;
  }

  .about-div .responsive-container .bio {
    max-width: 100%;
    margin-bottom: 0;
    text-align: left;
  }

  .about-div .responsive-container .groups {
    flex-direction: column;
    margin-top: 0;
  }

  .about-div .responsive-container .groups .group {
    margin-top: 48px;
  }

  .about-div .responsive-container .groups .group .title {
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  /* Me */

  .me-div .responsive-container .skills {
    flex-direction: column;
    margin-top: 0;
  }

  .me-div .responsive-container .skills .group {
    margin-top: 48px;
  }

  .graphics1 .responsive-container div:nth-of-type(1), .graphics1 .responsive-container div:nth-of-type(2), .graphics1 .responsive-container div:nth-of-type(3), .graphics1 .responsive-container div:nth-of-type(4), .graphics1 .responsive-container div:nth-of-type(5), .graphics1 .responsive-container div:nth-of-type(6), .graphics1 .responsive-container div:nth-of-type(7){
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }


  /* Music app */

  .image-group {
    flex-flow: column;
    width: 82%;
  }

  /* Nav Bars */
  .project-nav {
    position: relative;
  }
  .bottom-nav .responsive-container {
    flex-direction: column;
  }

  .bottom-nav {
    position: relative;
    background-color: white;
  }

  .bottom-nav .responsive-container .left-container {
    display: none;
  }

  .bottom-nav .responsive-container .right-container {
    margin: 20px auto;
  }
  .bottom-nav .responsive-container .right-container .email {
    display: inline-block;
  }
}
