body {
}

@font-face
{
	font-family:first;
	src: url("NEOTERICc - Regular DEMO VERSION.ttf");
	
}
@font-face
{
	font-family:second;
	src: url("PRIMETIME-PERSONAL USE ONLY.ttf");
	
}

@font-face 
{
	font-family:third;
	src: url("Rampung.ttf");

}
img.whole {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top:0;
	left:0;
	
	/*
	max-width: 100%;
	max-height: 100%;
	bottom:0;
	left:0;
	margin:auto;
	overflow:auto;
	position: fixed;
	right:0;
	top:0;
	*/
}
@media screen and (max-width: 1024px) {
	img.whole {
		left:50%;
		margin-left: -512px;

	}
}

#textbox {
position: relative; 
width: 500px; 
margin: 50px auto; 
padding: 20px; 

/*
-moz-box-shadow: 0 0 20px black;
 -webkit-box-shadow: 0 0 20px black;
 
  box-shadow: 0 0 20px black;

background: white; 
opacity: 0.4;
*/

background: rgb(255, 255, 255);
background: rgba(255, 255, 255, .5);
}
h1 {
	font-family:first;
	/*font-family: 'Helvetica Neue';*/

	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	color:#4d4d4d;
	text-align: center;	
}

h2 {
	font-family: first;
	font-weight: 100;
	font-size: 20px;

}

h3 {
	font-family: 'Helvetica Neue';
	font-size: 16px;
	font-weight: 100;
	margin-top: -10px;

}



